:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #070707;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100%;
  text-align: center;
}

.header-container {
  background-color: #222f3e;
  justify-content: space-between;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  text-transform: uppercase;
  z-index: 2;
}

.subheader-container {
  background-color: #101010;
  position: fixed;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
  z-index: 2;
  display: flex;
}

.parse-date {
  justify-content: flex-start;
  margin-left: 5px;
  margin-bottom: 3px;
}

.logo-and-logout {
  display: flex;
}

.logo-and-logout img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logout-link {
  margin-top: 22px;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}

.logout-link:hover {
  color: chartreuse;
}

.logout-link:active {
  color: rgb(95, 173, 17);
}

.search-bar {
  margin-top: 20px;
  width: 50%;
}

.character-dropdown {
  width: 200px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.table-container th,
.table-container td {
  text-align: center;
  min-width: 120px; /* Adjust this value to accommodate your longest column content */
}

.row-even {
  background-color: #151515;
}

.row-odd {
  background-color: #1e1e1e;
}

.row-even:hover {
  background-color: #0c0c0c;
}

.row-odd:hover {
  background-color: #0c0c0c;
}

.row-even:active {
  background-color: #222f3e;
}

.row-odd:active {
  background-color: #222f3e;
}

.page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 3px;
  z-index: 1;
}
/* NOTE: Stylings for 'SignIn.tsx components are in: styles.ts*/
.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.loading {
  position: absolute;
  top: 50%;
  left: 40%;
}

.pagination-metadata {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.no-results {
  margin-top: 100px;
}
